{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog Detail</title>
    
</head>
<body>
    <nav>
        <div class="logo"><span>SYARIF RAHMAN</span></div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Beranda</a></li>
            <li><a href="{% url 'about' %}">Tentang</a></li>
            <li><a href="{% url 'blog' %}">Blogs</a></li>
            <li><a href="{% url 'projects' %}">Project</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="{% url 'contact' %}">Kontak</a></li>
        </ul>
    </nav>

    <header>
        
        <div class="header-text">
            <br><br><br><br>
            <h1>{{ blog.title }}</h1>
            <p>Author: {{ blog.author }}</p>
            <p>Published Date: {{ blog.published_date }}</p>
            <p>{{ blog.content }}</p>
        </div>
    </header>

</body>
</html>
